/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

} */

body, html {
    color: #333;
    line-height: 1.6;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}
/* Loader Styles */
#loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #2c3e50;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .spinner::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-left: 4px solid #FF3D00;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

/* Header Styles */
header {
    background: #2c3e50;
    color: #fff;
    padding: 20px 0;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

header .headcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header .logo {
    width: 50px;
    
    margin-left: 10px;
}

header .headcontainer h2 {
    margin: 0 20px;
    display: flex;
    align-self: center;
    text-align: center;
    font-family: "Laila", serif;
    font-style: normal;
}
/*Go up button*/
#goUpBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 15px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #e74c3c;
    color: black;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  
  }
  
  #goUpBtn:hover {
    background-color: #2d465e;
    color: white;
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.3);
  }
  #goUpBtn img{
    width: 20px;
    height: 20px;
  }
  

/* Navigation Styling */
.navmenu{
    display: flex;
    align-items: center;
    /* flex-direction: row; */
    /* display: none; */
} 
.navmenu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute; /* Positioned relative to the header */
    top: 100%; /* Appears below the header */
    right: 0;
    width: 50%; /* Full width of the header */
    background: #2d465e;
    padding: 10px 0;
    z-index: 1000; /* Ensure it appears above other content */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.navmenu ul {
    list-style: none;
    display: flex;
    padding-right: 10px;
    margin: 0;
}

.navmenu ul li {
    margin: 0 10px;
    position: relative;
}

.navmenu ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    font-family: "Laila", serif;
}

.navmenu ul li a:hover {
    color: #e74c3c;
}

.navmenu ul li a:active {
    color: #e74c3c; 
    font-weight: bold;
}

.hamburger{
    display: none;
    cursor: pointer;
    font-size: 26px;
    margin-right: 10px;
}

.hamburger:hover{
    color: #e74c3c;
}

.dropdown{
    position: relative;
}

.dropdown-menu{
    display: none;
    position: absolute;
    background-color: #2d465e;
    min-width: 184px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 99;
    top: 100%;/* Position below the header */
    left: 0;
    margin: 0;
    padding: 10px 0;
    list-style-type: none;
    flex-direction: column;
}

.dropdown-menu li {
    padding: 8px 16px;
    display: block;
}

.dropdown:hover .dropdown-menu,
.dropdown .dropdown-menu.show {
    display: block; /* Show dropdown on hover or when the 'show' class is added */
}

/* Cart Overlay */
.cart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    /* display: none; /*Hidden by default */
    justify-content: flex-end; /* Aligns the cart content to the right */
    z-index: 1001; /* Higher than the header */
    transform: translateX(-200%);
    transition: .5s ease-out;
}

.cart-content {
    background: #fff;
    width: 40%; /* Cart takes 40% of the screen width */
    height: 100%;
    padding: 10px;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1); /* Slight shadow effect */
    position: relative;
    overflow: scroll;
    overflow-x: hidden;
    float: right;

}

.cart-content h2 {
    font-family: "Laila", serif;
    margin-bottom: 20px;
}

#cart-is-empty{
    text-align: center;
    
}
.cart-not-empty{
    /* display: none; */
}
.hidden{
    display: none;
}
/* #cartItems{
    display: flex;
    flex-direction: column;
} */
/* .cart-img-holder{
    flex:20%;
    margin-right: 10px;
}
.cart-item-img{
    width: 40%;
    height: 40%;
}
.cart-product-info{
    flex: 75%;
} */
.cart-table{
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: table;
}
.cart-table thead{
    background-color: #ecf0f1;
}
.cart-table th, 
.cart-table td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}
.tdquantity, .tdprice, .tdbtn{
    text-align: center;
}
#cartItems{
    width: 100%;

}
#close-cart {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}
.checkout-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 20px auto;
    border-radius: 4px;
    bottom: 0px;
}

.checkout-btn:hover {
    background-color: #2c3e50;
}

.removeBtn{
    background-color: #e74c3c;
    color: white;
    text-align: center;
    border-radius: 4px;
    border: none;
}
.removeBtn :hover{
    /* background-color: #2c3e50; */
    color: #2c3e50;
}
.total{
    text-align: center;
    margin: 2em 0 2em 0;
}
.cart-total{
    margin: 0;
}
.grand-total{
    display: block;
    font-size: 2rem;
}

/* Hero Section */
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),url('images/background.jpg') no-repeat center center/cover ;
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-recipe {
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),url('recipe-images/recipebg.jpg') no-repeat center center/cover ;
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero .container h2, .hero-recipe .container h2 {
    font-size: 3em;
    margin-bottom: 20px;
    font-family: "Laila", serif;
    font-weight: 800;
}

.hero .container p, .hero-recipe .container p {
    font-size: 1.2em;
}

.hero .btn, .hero-recipe .btn {
    background: #e74c3c;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.hero .btn:hover, .hero-recipe .btn:hover {
    /* background: #c0392b; */
    background: #2c3e50;
    font-weight: bold;
}

section {
    padding: 60px 0;
}

.about, .contact {
    background: #ecf0f1;
    text-align: center;
}

.about p, .contact p {
    margin: 20px 0;
    font-size: 1.1em;
}

.container h2{
    font-family: "Laila", serif;
    font-weight: 900;
    font-size: 40px;
}

/* Our Products Section Styling */
.products {
    display: flex;
    align-items: center;
    text-align: center;
}

.products .product-list {
    /* display: flex;
    justify-content: space-around;
    flex-wrap: wrap; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.products .product {
    /* background: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    height: 300px; */

    background: #fff;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1 0 21%; /* Responsive breakpoints */
    max-width: 30%; /* Max-width for better responsiveness */
    height: auto;
}

.products .product img {
    max-width: 80%;
    height: 320px;
    border-radius: 5px;
}

/* .products .product .overflow-pic{
    height: 280px;
} */

.products .container h3 {
    margin: 20px 0 10px;
    font-family: "Laila", serif;
    font-size: 35px;
}

.products .product p {
    font-size: 23px;
    font-weight: bold;
    /* font-family: "Laila", serif; */
}

.products .product button{
    background: #e74c3c;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
    /* font-weight: bold; */
    font-family: "Laila", serif;
    border-color: transparent;
}

.products .product button:hover{
    background: #2c3e50;
    font-weight: bold;
}

.products .product select, .products .product input{
    border: solid 1px #777373;
    border-radius: 15px;
    width:80%;
    height: 30px;
    text-align: center;
}

.products-divider{
    height: auto;
    /* width: 100%; */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 5px;
    margin-left: 5px;
}

/* Recipes Section */
 #recipes h1{
    text-align: center;
    font-family: "Laila", serif;
    font-weight: 900;
    font-size: 40px;
}

.recipe{
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 5px;
    margin-left: 5px;
}

.recipe h2{
    text-align: center;
    margin-bottom: 10px;
    font-family: "Laila", serif;
    font-weight: 900;
    font-size: 35px;
}

.recipe-img{
    width: 90%;
    height: 20%;
    display: flex;
    object-fit: cover;
    margin-bottom: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recipe-info{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.Ingredients{
    flex: 40%;
    padding: 20px;
}

.Ingredients h3{
    font-family: "Laila", serif;
    font-weight: 900;
    font-size: 25px;
}

.instructions{
    flex: 60%;
    padding: 20px;
}

.instructions h3{
    font-family: "Laila", serif;
    font-weight: 900;
    font-size: 25px;
}


/* Contact styling */
.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact form input, .contact form textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact form .btn {
    background: #2c3e50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.contact form .btn:hover {
    background: #34495e;
}

/* Footer Section */
footer {
    background: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

/* Responsive Styles */
@media screen  and (max-width: 768px){
    .products .product{
        flex: 1 0 40%; /* Responsive breakpoints */
        max-width: 54%;
    }
    .navmenu {
        display: none;
        flex-direction: column;
        width: 100%;
    }
    .navmenu.active{
        display: flex;
    }

    .navmenu ul {
        flex-direction: column;
    }

    .navmenu ul li {
        margin: 10px 0;
    }

    .hamburger {
        display: block;
    }

    .recipe-info{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    
    .Ingredients{
        flex: 100%;
        padding: 0 20px;
    }
    
    .instructions{
        flex: 100%;
        padding: 0 20px;
    } 
    
}
@media screen  and (max-width: 600px){

}
@media screen  and (max-width: 520px){
    .products .product{
        flex: 1 0 90%; /* Responsive breakpoints */
        max-width: 100%;
        text-align: center;
        
    }
    .products .product img{
        max-width: 100%;
    }
    .cart-content {
        width: 97%;
    }
}